<body>
    <div class="success-header tan-background">
        <div class="success-title-container">
            <h2>YAY! YOUR RESERVATION WAS SUBMITTED</h2>
            <p class="success-message tan-background">You will receive a confirmation email within 3-5 business days. Please check your spam folder!<br>Thank you for choosing Final Touch Decor!</p>
        </div>
    </div>
    <div class="whats-next-image-container">
        <img class="whats-next-image" src="/images/whats-next.png">
    </div>
    <div class="next-steps-container">
        <div class="left-step step">
            <img class="step-image" src="/images/next-step-1.png" alt="Next Step 1">
            <div class="step-text">
                <p class="step-title">Confirmation Email</p>
                <p class="step-description">
                    You'll receive a confirmation email within 3-5 business days from {{email}}. 
                    Check your spam folder so you don't miss it!
                </p>
            </div>
        </div>
        <div class="right-step step">
            <div class="step-text">
                <p class="step-title">Review Your Reservation Details</p>
                <p class="step-description">
                    Once the email arrives, double-check that all event information is accurate.
                </p>
            </div>
            <img class="step-image" src="/images/next-step-2.png" alt="Next Step 1">
        </div>
        <div class="left-step step">
            <img class="step-image" src="/images/next-step-3.png" alt="Next Step 1">
            <div class="step-text">
                <p class="step-title">Invoice & Payment Info</p>
                <p class="step-description">
                    Your full payment will be due 30 days before your event date via invoice.
                    Instructions will be included in the invoice.
                </p>
            </div>
        </div>
        <div class="right-step step">
            <div class="step-text">
                <p class="step-title">Pickup & Return Instructions</p>
                <p class="step-description">
                    Pickup and return take place in downtown Boise. You’ll receive detailed instructions as your event date approaches. Let us know if you'd like delivery right to your event!
                </p>
            </div>
            <img class="step-image" src="/images/next-step-4.png" alt="Next Step 1">
        </div>
        <div class="left-step step">
            <img class="step-image" src="/images/next-step-5.png" alt="Next Step 1">
            <div class="step-text">
                <p class="step-title">Optional Add-Ons</p>
                <p class="step-description">
                    Need to add more items or request delivery? Let us know as early as possible — additions are subject to availability.
                    Have questions or changes? Email us at {{ email }} or reply directly to your confirmation message.
                </p>
            </div>
        </div>
        <div class="right-step step">
            <div class="step-text">
                <p class="step-title">Did You Order Any Custom Items?</p>
                <p class="step-description">
                    Start thinking about how you want your custom items to look — feel free to gather inspiration photos! 
                    Need help? We'd love to help bring your vision to life and handle the creative direction for you.
                </p>
            </div>
            <img class="step-image" src="/images/next-step-6.png" alt="Next Step 1">
        </div>
            
    </div>


        
        
        <!-- <a href="/shop" class="continue-shopping-button">Continue Shopping</a> -->
</body>
