<body>
    <div class="success-header tan-background">
        <div class="success-title-container">
            <h2>YAY! YOUR RESERVATION WAS SUBMITTED</h2>
            <p class="success-message tan-background">Your Reservation has been successfully submitted! You will receive a confirmation email within 3-5 business days. Please check your spam folder if you do not see it in your inbox.<br>Thank you for choosing Final Touch!</p>
        </div>
    </div>
    <div class="whats-next-image-container">
        <img class="whats-next-image" src="/images/whats-next.png">
    </div>
    <div class="next-steps-container">
        <div class="left-step step">
            <img class="step-image" src="/images/next-step-1.png" alt="Next Step 1">
            <div class="step-text">
                <p class="step-title">Confirmation Email</p>
                <p class="step-description">
                    You will receive a confirmation email within 3-5 business days from finaltouchco.info&#64;gmail.com. 
                    Please check your spam folder if you dont see the email within 5 days.
                </p>
            </div>
        </div>
        <div class="right-step step">
            <div class="step-text">
                <p class="step-title">Review Your Reservation Details</p>
                <p class="step-description">
                    Once the confirmation email arrives, double-check that all event information 
                    (date, time, items reserved) is accurate.
                </p>
            </div>
            <img class="step-image" src="/images/next-step-2.png" alt="Next Step 1">
        </div>
        <div class="left-step step">
            <img class="step-image" src="/images/next-step-3.png" alt="Next Step 1">
            <div class="step-text">
                <p class="step-title">Invoice & Payment Info</p>
                <p class="step-description">
                    An invoice will be sent to your email. Your full payment will be due 30 days before your event date. 
                    Instructions will be included in the invoice.
                </p>
            </div>
        </div>
        <div class="right-step step">
            <div class="step-text">
                <p class="step-title">Pickup & Return Instructions</p>
                <p class="step-description">
                    Pickup and return take place in downtown Boise. You’ll receive detailed instructions as your event date approaches.
                </p>
            </div>
            <img class="step-image" src="/images/next-step-4.png" alt="Next Step 1">
        </div>
        <div class="left-step step">
            <img class="step-image" src="/images/next-step-5.png" alt="Next Step 1">
            <div class="step-text">
                <p class="step-title">Optional Add-Ons</p>
                <p class="step-description">
                    Need to add more items or request delivery? Let us know as early as possible — additions are subject to availability.
                    Have questions or changes? Email us at finaltouchinfo.info&#64;gmail.com or reply directly to your confirmation message.
                </p>
            </div>
        </div>
        <div class="right-step step">
            <div class="step-text">
                <p class="step-title">Did You Order Any Custom Items?</p>
                <p class="step-description">
                    Start thinking about how you want your custom items to look — feel free to gather inspiration photos! 
                    Once your order is confirmed, we’ll chat about the design details.
                    Not sure where to start? No worries — we’re more than happy to help bring your vision to life or handle the creative direction for you.
                </p>
            </div>
            <img class="step-image" src="/images/next-step-6.png" alt="Next Step 1">
        </div>
            
    </div>


        
        
        <!-- <a href="/shop" class="continue-shopping-button">Continue Shopping</a> -->
</body>
