
body {
    color: #454545;

}

.title {
    color: #454545;
    font-weight: normal;
}

.title h1 {
    font-weight: normal;
    font-size: 30px;
}


.header {
    display: flex;
    justify-content: space-between; /* Space out the title and button */
    align-items: center; /* Vertically center all items in the header */
}

.order-stats-container {
    padding: 0px 25px 0px 25px;
    margin: 20px 20px 20px 20px;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.add-reservation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* Reset margins if necessary */
}

.table-title-container {
    display: grid;
    grid-template-columns: 0.35fr 0.7fr 0.5fr 0.4fr 0.9fr 0.35fr 0.45fr 0.45fr; /* Adjust ratios if needed */
    padding-left: 10px;
    margin: 0px 20px 0px 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(214, 214, 214);
}

.list {
    margin: 0px 20px 0px 20px;
}

.filter-container {
    padding-right: 10px;
}

.filter-container label {
    padding: 12px;
}

.stats {
    text-align: center;
    /* padding: 10px; */
}

.stats-number {
    font-size: 30px;
    margin: 10px;
}

.stats-title {
    margin: 10px;
}

.refresh-button-container {
    display: flex;
    justify-content: right;
    margin: 0px 20px 10px 0px;
}

.refresh-button {
    color: rgb(118, 118, 118);
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
    font-size: 14px;
}

.refresh-button:hover {
    color: rgb(168, 168, 168);
}
      