body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #454545;
}

.title {
    color: #454545;
    font-weight: normal;
}

.title h1 {
    font-weight: normal;
    font-size: 30px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.reviews-stats-container {
    padding: 0px 25px 0px 25px;
    margin: 20px 20px 20px 20px;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.add-review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.stats {
    text-align: center;
}

.stats-number {
    font-size: 30px;
    margin: 10px;
}

.stats-title {
    margin: 10px;
}

.review-list {
    margin: 20px;
    padding: 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.delete-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #d9534f;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c9302c;
}

.review-box {
    border-radius: 4px;
    width: 100%;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: relative;
}

.review-text, .reviews-author {
    margin: 15px 10px;
}

.stars {
    padding-top: 20px;
}

.star {
    font-size: 16px;
}


.refresh-button-container {
    display: flex;
    justify-content: right;
    padding: 0px;
    margin: -10px 20px 10px 0px;
}

.refresh-button {
    color: rgb(118, 118, 118);
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
    font-size: 14px;
}

.refresh-button:hover {
    color: rgb(168, 168, 168);
}