.hero-container {
    display: flex; /* Ensure the component occupies space */
    gap: 60px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

.text-side {
    width: 50%;
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    text-align: left;
}

.image-side {
    width: 50%;
    height: 100%; 
    display: flex; 
    justify-content: right;
    align-items: center; 
}

.hero-image {
    max-width: 450px;
    height: 90%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

h1 {
    font-size: 2.25rem;
    font-weight: normal;
    line-height: 1.25; /* Adjust the line height */
}

.flower-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-text {
    margin-left: -80px;
    font-size: 1rem;
}

.flower-image {
    width: 125px;
    margin-left: -10px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: white;
}

.summary-flower {
    width: 50px;
    height: auto;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 100px;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.three-image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.summary-title {
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-weight: 100;
}
.summary-text {
    font-size: 16px;
    line-height: 1.5; /* Adjust the line height */
    margin: 0;
    padding: 20px 50px;
    text-align: center;
}

.button {
    max-width: 400px;
}

.about-link {
    cursor: pointer;
}


/* Responsive Design for smaller screens */
@media (max-width: 915px) {

    .hero-container {
        padding: 5rem 2rem;
        height: auto;
        gap: 2rem;
    }

    body {
        flex-direction: column;
        height: 100%;
    }

    .text-side {
        width: 100%;
    }
    
    .image-side {
        width: 60%;
        justify-content: center;
    }

    .hero-image {
        width: 350px;
    }

    .flower-image {
        width: 150px;
    }

} 

@media (max-width: 770px) {

    .hero-container {
        padding: 5%;
        margin: 0;
    }
    
    .image-side {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .hero-image {
        width: 100%;
        max-height: 450px;
        max-width: none;
        aspect-ratio: none;
    }

    .images-container {
        display: flex;
        flex-direction: column;
        padding: 7%;
    }

    .three-image {
        max-width: none;
        aspect-ratio: auto;
        height: 600px;
    }

}

@media (max-width: 700px) {
    .hero-container {
        flex-direction: column;
        gap: 2rem;
        height: auto;
    }

    .text-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .image-side {
        width: 100%;
        justify-content: center;
        align-items: center; 
    }

    .flower-text-container {
        margin-left: -60px;
    }

    .summary-container {
        padding: 20px;
    }

}


/* Responsive Design for phone screens */
@media (max-width: 500px) {

    .hero-container {
        padding: 1rem 1rem;
        position: relative;
    }

    .flower-text-container {
        margin-left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .summary-container {
        padding: 20px;
    }
    
    .summary-title {
        font-size: 40px;
        padding: 0;
        margin: 0;
        font-weight: 100;
        text-align: center;
    }
    .summary-text {
        padding: 20px 10px;
        font-size: 0.9rem;
    }

    .flower-image {
        width: 125px;
    }

    .location-text {
        align-self: center;
        margin: 0;
        padding: 0 40px;
        z-index: 1;
        position: absolute;
        /* font-size: 0.75rem; */
    }

    .text-side h1 {
        font-size: 1.5rem;
    }

    
}