<body>

<section class="tan-background hero-container">

    <picture class="image-side">
        <source srcset="/images/hero.webp" type="image/webp">
        <img class="hero-image" src="/images/hero.png">
    </picture>

    <div class="text-side">
        <div class="flower-text-container">
            <img class="flower-image" src="/images/flower.png">
            <p class="location-text secondary-font green-font">SERVING BOISE AND THE TREASURE VALLEY</p>
        </div>
        <h1>Elevate Your Event with<br>Beautiful, Earth-Friendly<br>Decor Rentals
        </h1>
        <button (click)="routeToShop($event)" class="button-theme green-background">shop now</button>
        <br><br>
    </div>
</section>
<section class="summary-container red-background">
    <img class="summary-flower" src="/images/daisy.png">
    <p class="summary-title cursive-font">Elegant event decor, without the waste
    <p class="summary-text">
        At Final Touch Co., we offer stylish, high-quality rental decor for weddings 
        and events across Boise and the Treasure Valley. From modern arches to vintage 
        accents, our collection is curated to elevate your day — without the cost or 
        waste of buying new. Most of our pieces are thrifted or sustainably sourced, 
        helping reduce waste while adding unique charm. We also specialize in custom 
        signage to bring your vision to life.
    </p>
    <u class="button main-font">ABOUT US</u>
</section>
</body>