<body class="tan-background">
    <p class="page-title">HOW IT WORKS</p>
    <div class="steps-container">
        <div class="step">
            <div class="step-number">
                <img src="/images/stars-step.png" alt="step 1" class="step-image">
            </div>
            <div class="step-description">
                <p class="step-title">Browse & Book</p>
                <p>
                    Explore our curated collection and submit a reservation request. Once confirmed, 
                    we will contact you to discuss details.
                </p>
            </div>
        </div>
        <div class="step">
            <div class="step-number">
                <img src="/images/heart-step.png" alt="step 2" class="step-image">
            </div>
            <div class="step-description">
                <p class="step-title">Pick Up</p>
                <p>
                    Grab your decor from our downtown Boise location at your scheduled pickup time. 
                    We’ll have everything packed and ready to go. See our <a class="setup-options" (click)="goToServices($event)">setup packages</a>
                </p>
            </div>
        </div>
        <div class="step">
            <div class="step-number">
                <img src="/images/discoball-step.png" alt="step 3" class="step-image">
            </div>
            <div class="step-description">
                <p class="step-title">Celebrate & Return</p>
                <p>
                    Enjoy your beautifully styled event! When you're done, return the items — 
                    no cleaning needed. We’ll take care of the rest.
                </p>
            </div>
        </div>
    </div>


</body>