<body class="tan-background">
    <!-- <div class="image-side">
        <img src="images/old-hero.png">
    </div>
    <div class="text-side">
        <p class="oops"> Ooops... Error</p>
        <p class="not-found">404</p>
        <p class="not-found-text">We're so sorry,<br>but the page you are looking for is not found.</p>
        <button class="home-button button-theme light-pink-background" (click)="routeHome()">Back to<br>Home</button>
    </div> -->
    <div class="container">
        <p class="number">404</p>
        <p class="notfound">Page Not Found</p>
        <p class="text">Looks like this page wandered off like a missing place card</p>
        <button class="home-button button-theme green-background" (click)="routeHome()">Back to<br>Home</button>
    </div>
</body>
