body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('/images/tulips.png');
    background-repeat: no-repeat;
    background-position: top 40px right 40px;
    background-size: 300px auto; /* Adjust size as needed */
}

.container {
    width: 90%;
}

.number {
    font-size: 6rem;
    /* font-weight: bold; */
    margin: 0;
}

.notfound {
    font-size: 2rem;
    margin: 0;
}

.text {
    font-size: 1.25rem;
    margin-top: 1rem;
    padding: 40px 0 20px 0;
}

@media (max-width: 1000px) {

    body {
        background-position: top 20px right 20px;
        background-size: 225px auto; /* Adjust size as needed */
    }
}

@media (max-width: 650px) {

    body {
        background-position: top 10px right 10px;
        background-size: 200px auto; /* Adjust size as needed */
    }
}

@media (max-width: 550px) {

    body {
        background-image: none;
    }
    
    .number {
        font-size: 4rem;
    }

    .notfound {
        font-size: 1.5rem;
    }

    .text {
        font-size: 1rem;
    }
}