<div class="cart-item">
    <img class="cart-item-image" (click)="routeToProduct()" src="{{ item.imageUrl }}" alt="{{ item.name }}">
    <!-- <img class="cart-item-image" (click)="routeToProduct()" src="/images/stock_photo.png" alt="{{ this.item.name }}"> -->
    <div class="cart-item-info">
      <div class="cart-item-box">
        <p class="product-title" (click)="routeToProduct()">{{ item.name }}</p>
        <p class="item-info">${{ this.item.price }}</p>
        <p class="item-info">Qty: 1</p>
      </div>
      <div class="delete-button-container">
        <button class="remove-button tan-background" (click)="removeItem()" alt='remove'>remove</button>
        <div *ngIf="hasDateErrors" class="info-hover-container price-error">
          <span class="info-icon">!</span>
          <span class="tooltip-text">This item is no longer avaliable for your desired date</span>
        </div>
      </div>
    </div>
</div>
