<div class="availability-checker"> 
  <div class="input-box">

    <div class="info-message-container">
      <div class="info-message" *ngIf="showInfoMessage">
        Reservation dates open 6 months in advance.
      </div>
    </div>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label class="label">Select up to 5 days to reserve</mat-label>

      <mat-date-range-input
        [rangePicker]="picker"
        [min]="minDate"
        [max]="maxDate"
        [formGroup]="range"
        [dateFilter]="dateFilter">
          <input 
            class="input" 
            matStartDate 
            formControlName="start" 
            placeholder="Pickup"
            (focus)="showInfoMessage = true"
            (blur)="showInfoMessage = false"
          />
          <input 
            class="input" 
            matEndDate 
            formControlName="end" 
            placeholder="Return"
            (focus)="showInfoMessage = true"
            (blur)="showInfoMessage = false"
          />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker
        (opened)="showInfoMessage = true"
        (closed)="showInfoMessage = false">
      </mat-date-range-picker>
    </mat-form-field>
    
  </div>
  <span
    [matTooltip]="tooltipMessage"
    matTooltipShowDelay="100"
    [matTooltipDisabled]="!tooltipMessage"
  >
    <button
      class="reserve-button button-theme green-background white-font"
      (click)="onCartClick()"
      [disabled]="!isDateRangeValid()"
      type="button"
      (touchstart)="this.tooltip.show();"
    >
      ADD TO INQUIRY LIST
    </button>
  </span>

</div>
