
.product-item {
    display: block; /* Ensures the link behaves as a block element */
    width: 100%; /* Takes full width of its container */
    height: 100%; /* Takes full height of its container */
    padding: 10px;
    transition: transform 0.2s;
    position: relative;
    box-sizing: border-box; /* Includes padding in width/height calculations */
    text-decoration: none; /* Removes default link styling */
}

.item-info {
    padding: 10px 0;
    width: 100%; /* Ensures info takes full width */
    box-sizing: border-box; /* Includes padding in width calculations */
}

.product-item:hover {
    transform: scale(1.02); /* Adds a hover effect */
    cursor: pointer;
}

.image-placeholder {
    position: relative;
    width: 100%;
    margin-bottom: 8px; /* Add some space between image and info */
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
}

.product-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; /* or cover, depending on preference */
    transition: opacity 0.25s ease-in-out;    
    /* Improve rendering sharpness */
    image-rendering: crisp-edges; /* or try 'pixelated' */
}

.product-image.loaded {
    opacity: 1; /* Ensures the image is fully visible once loaded */
}

.product-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.info-price {
    font-size: 1rem;
    opacity: 0.5;
    margin: 0;
    padding: 2px 0 0 0;
}
  
.custom-text {
    position: absolute;
    top: 0px; 
    left: 0px;
    padding: 8px;
    margin: 0px;
    z-index: 2; 
    display: block;
    font-size: 0.75rem;
    background-color: rgb(186, 205, 229);
    color: black;
}