<body class="tan-background">

    <div class="title-container">
        <picture class="services-image-container">
            <source srcset="/images/services-title.webp" type="image/webp">
            <img class="services-image" src="/images/services-title.png" alt="Services Banner">
        </picture>
        <h1 class="text-center cursive-font">See how we can make your event unforgettable</h1>
    </div>

  <div class="first-service service-block">
    <div class="left-image-container">
        <img src="/images/service-1.jpg" alt="Setup & Teardown" class="first-service-image service-image"/>
        <p class="service-image-tagline red-font cursive-font">Your vision, perfectly in place</p>
    </div>
    <div class="right-text-container">
      <h2 class="service-title">FULL SERVICE SETUP & TEARDOWN</h2>
      <p class="service-text">
        Let us take the stress out of your wedding day. Our Setup & Teardown Service is available exclusively 
        for décor rented from Final Touch Decor Co., ensuring every element is styled exactly as envisioned and ready 
        to wow your guests. From thoughtfully arranging each piece to creating a cohesive, polished look, we 
        handle it all with care and precision.
        <br><br>
        After your celebration, our team will return to efficiently pack up and remove all rented items, so you 
        can simply focus on enjoying the moment without lifting a finger. Pricing for this add-on service is based 
        on the scale of your rental order, venue location, and timeline needs.
        <br><br>
        <p class="get-quote-link" (click)="scrollToSection('quote-form')">Get a quote</p>
    </div>

  </div>

  <!-- <app-services-quote-form id="quote-form"></app-services-quote-form> -->

</body>