<head>
    <Title>{{ product.name }} - Final Touch Decor</Title>
    <meta name="description" content="{{ product.description }}" />
</head>

<body class="container white-background">

  <div class="tan-background body" *ngIf="!loading">
    <div class="product-body">
      <div class="product-image-box">
        <img [src]="product.imageUrl" alt="product-image" class="product-image" (load)="loading=false">
      </div>
      <div class="product-description-container">
        <p class="path"><a (click)="goToShop($event)">INVENTORY</a> / {{ product.name }}</p>
        <p class="product-name">{{ product.name }}</p>
        <p class="product-price">${{ product.price }}</p>
        
        <div class="quantity-container">
          <label *ngIf="product.quantity > 0" for="quantity">Qty: {{ product.quantity }}</label>
          <!-- <select id="quantity" [(ngModel)]="quantity" class="quantity-dropdown" disabled>
            <option *ngFor="let qty of quantities" [value]="qty">{{ product.count }}</option>
          </select> -->
        </div>

        <div class="reserve-container">
          <p *ngIf="product.custom">⭐ This item is customizable</p>
          <app-reserve [product]="product"></app-reserve>
        </div>
        <div class="product-description-details desktop-mobile-only">
          <div class="tabs">
            <button 
              [class.active]="isActiveTab('details')" 
              (click)="setActiveTab('details')">Product Details</button>
            <button 
              [class.active]="isActiveTab('shipping')" 
              (click)="setActiveTab('shipping')">Pickup & Return</button>
          </div>
          
          <div class="tab-content product-description" *ngIf="isActiveTab('details')">{{ product.description }}</div>
          
          <div class="tab-content" *ngIf="isActiveTab('shipping')">
            All rentals must be picked up and returned by the renter in downtown Boise.
            Delivery may be available upon request and is considered on a case-by-case basis, subject to availability.

            <br><br>Late returns will incur a fee of ${{ DAILY_LATE_FEE }} per day, unless prior arrangements have been made with Final Touch Decor.

            <br><br>The renter is liable for any damage or loss of items during the rental period. If an item is returned broken, 
            missing, or significantly damaged, a replacement fee up to ${{ product.deposit }} may be charged, based upon extent of damage.
          </div>
        </div>
      </div>
      <div class="product-description-details tablet-only">
          <div class="tabs">
            <button 
              [class.active]="isActiveTab('details')" 
              (click)="setActiveTab('details')">Product Details</button>
            <button 
              [class.active]="isActiveTab('shipping')" 
              (click)="setActiveTab('shipping')">Pickup & Return</button>
          </div>
          
          <div class="tab-content product-description" *ngIf="isActiveTab('details')">{{ product.description }}</div>
          
          <div class="tab-content" *ngIf="isActiveTab('shipping')">
            All rentals must be picked up and returned by the renter in downtown Boise.
            Delivery may be available upon request and is considered on a case-by-case basis, subject to availability.

            <br><br>Late returns will incur a fee of ${{ DAILY_LATE_FEE }} per day, unless prior arrangements have been made with Final Touch Decor.

            <br><br>The renter is liable for any damage or loss of items during the rental period. If an item is returned broken, 
            missing, or significantly damaged, a replacement fee up to ${{ product.deposit }} may be charged, based on extent of damage.
          </div>
        </div>
    </div>
  </div>

  <!-- <div *ngIf="product.addons && product.addons.length > 0" class="addons-body">
    <h3 class="section-heading">Optional Add-Ons</h3>
    <div class="addons-grid">
      <app-addon-box
        *ngFor="let addon of addons"
        [addon]="addon"
        [isSelected]="selectedAddons.includes(addon.itemId)"
        [isAvailable]="isAddonAvailable(addon)"
        (toggle)="onToggleAddon(addon)"
      ></app-addon-box>
    </div>
  </div> -->
  
  <!-- <hr *ngIf="!loading" class="border-line"> border line -->

  <div class="similar-products" *ngIf="similarProducts.length > 0">
    <p>You Might Also Like:</p>
    <div class="similar-scroll-wrapper">
      <div class="similar-scroll-container">
        <app-product-box
          *ngFor="let product of similarProducts"
          [product]="product"
          class="similar-product-box"
        ></app-product-box>
      </div>
    </div>
  </div>
</body>
