<body class="container white-background">

  <div class="white-background body" *ngIf="!loading">
    <div class="product-body">
      <div class="product-image-box">
        <img [src]="product.imageUrl" alt="product-image" class="product-image" (load)="loading=false">
        <div class="inquire-container">
          <!-- <button class="inquire-btn button-theme" (click)="goToInquire()">Inquire About This Product</button> -->
           <p (click)="goToInquire()"><u>Contact me</u> to inquire about this product</p>
        </div>
      </div>
      <div class="product-description-container">
        <p class="path"><a (click)="goToShop($event)">INVENTORY</a> / {{ product.name }}</p>
        <p class="product-name">{{ product.name }}</p>
        <p class="product-price">${{ product.price }}</p>
        
        <div class="quantity-container">
          <label *ngIf="product.quantity > 0" for="quantity">Quantity in Inventory: {{ product.quantity }}</label>
        </div>

        <div class="product-description-details desktop-mobile-only">
          <div class="tabs">
            <button 
              [class.active]="isActiveTab('details')" 
              (click)="setActiveTab('details')">Product Details</button>
            <button 
              *ngIf="product.custom"
              [class.active]="isActiveTab('custom')" 
              (click)="setActiveTab('custom')">Custom Description</button>
          </div>
          
          <div class="tab-content product-description" *ngIf="isActiveTab('details')">{{ product.description }}</div>
          
          <div class="tab-content" *ngIf="isActiveTab('custom') && product.custom">
            {{ product.customDescription }}
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  
  <!-- <hr *ngIf="!loading" class="border-line"> border line -->

  <div class="similar-products" *ngIf="similarProducts.length > 0">
    <p>You Might Also Like:</p>
    <div class="similar-scroll-wrapper">
      <div class="similar-scroll-container">
        <app-product-box
          *ngFor="let product of similarProducts"
          [product]="product"
          class="similar-product-box"
        ></app-product-box>
      </div>
    </div>
  </div>
</body>
