<body class="tan-background topDiv">

    <div class="container">
        <div class="title-container">
            <!-- <h1 class="title">FREQUENTLY ASKED QUESTIONS</h1> -->
             <div class="faq-banner"></div>
        </div>
    
        <div class="faq-grid">
            <div class="faq-category">
                <h2 class="faq-category-title">GENERAL QUESTIONS</h2>
            </div>
            <div class="faqs-container">
                <div class="faq" *ngFor="let faq of generalFaqs; let i = index" (click)="toggleAnswer(generalFaqs, i)">
                  <div class="faq-question">
                    <div class="inside-question">
                      <span>{{ faq.question }}</span>
                      <i class="arrow down"></i>
                    </div>
                  </div>
                  <div class="faq-answer" *ngIf="faq.open">
                    {{ faq.answer }}
                  </div>
                </div>
            </div>
              

            <div class="faq-category">
                <h2 class="faq-category-title">CUSTOM ITEMS</h2>
            </div>
            <div class="faqs-container">
                <div class="faq" *ngFor="let faq of customFaqs; let i = index" (click)="toggleAnswer(customFaqs, i)">
                  <div class="faq-question">
                    <div class="inside-question">
                      <span>{{ faq.question }}</span>
                      <i class="arrow down"></i>
                    </div>
                  </div>
                  <div class="faq-answer" *ngIf="faq.open">
                    {{ faq.answer }}
                  </div>
                </div>
            </div>
              

            <div class="faq-category">
                <h2 class="faq-category-title">POLICIES & PAYMENTS</h2>
            </div>
            <div class="faqs-container">
                <div class="faq" *ngFor="let faq of policyFaqs; let i = index" (click)="toggleAnswer(policyFaqs, i)">
                  <div class="faq-question">
                    <div class="inside-question">
                      <span>{{ faq.question }}</span>
                      <i class="arrow down"></i>
                    </div>
                  </div>
                  <div class="faq-answer" *ngIf="faq.open">
                    {{ faq.answer }}
                  </div>
                </div>
              </div>
              
        </div>
    </div>
  </body>

  <app-how-it-works></app-how-it-works>