<body>
  <!-- <span class="red-box red-background"></span> -->
  <div class="container">
      <section class="custom-left-container">
          <img class="custom-image" src="/images/about-me.jpg">
      </section>
      <section class="custom-right-container">
        <p class="cursive-font title-name red-font">Hi, I'm Cass</p>
        <p class="page-title">FOUNDER & ARTIST</p>
        <p class="custom-text">
          As a former DIY bride, I’ve been exactly where you are—trying to 
          create something beautiful without spending a fortune or ending up 
          with bins of decor afterward. That’s what inspired me to start this 
          rental service: to offer an affordable, eco-friendly way to bring 
          your vision to life. I’m here every step of the way and love working 
          closely with you to make sure everything feels just right for your 
          big day.
        </p>
    </section>
  </div>
</body>