<body>
  <div class="container">

      <picture class="custom-left-container">
          <source srcset="/images/about-me.webp" type="image/webp">
          <img class="custom-image" src="/images/about-me.png">
      </picture>

      <section class="custom-right-container">
        <p class="cursive-font title-name red-font">Hi, I'm Cass</p>
        <p class="page-title">FOUNDER & ARTIST</p>
        <p class="custom-text">
          As a former DIY bride, I know that "dream vision" usually comes with a mountain of hidden work. I spent my own engagement falling in love with the design process, but I also realized how quickly the costs and the "post-wedding clutter" can add up.
          <br><br>
          I started this rental service because I believe you should have a stunning, Pinterest-worthy wedding without having to spend your weekends submerged in DIY projects or ending up with a garage full of bins you'll never use again.
          <br><br>
          Now, I use my eye for design and my love for the "little things" to help you curate a day that’s both beautiful and sustainable. I’m here to handle the sourcing and the setup, giving you a custom, high-end look without the DIY burnout. Let’s bring your vision to life—minus the stress and the waste.
        </p>
    </section>
  </div>
</body>