body {
    background: linear-gradient(to left, white 75%, #c49386 25%);
}

.container {
    display: grid;
    padding: 75px 80px 40px 80px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 80px;
    max-width: 1100px;
    margin: 0 auto;
}

.page-title {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.title-name {
    font-size: 2.75rem;
    margin: 0;
    padding: 0;
}


.custom-left-container,
.custom-right-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.custom-image {
    width: 100%;
    max-height: 600px;
    min-height: 250px;
    object-fit: contain;
}

.custom-text {
    font-size: 1.1rem;
    line-height: 1.5;
    padding-top: 10px;
}

@media (max-width: 915px) {
    .custom-left-container,
    .custom-right-container {
        aspect-ratio: 4/5;
    }

    .container {
        padding: 50px 30px 100px 30px;
        gap: 35px;
    }

    .custom-image {
        width: 100%;
        height: auto; 
    }
}

@media (max-width: 700px) {
    .container {
        gap: 25px;
        margin-top: 20px;
    }

    .custom-left-container,
    .custom-right-container {
        aspect-ratio: 4/5;
    }

    .page-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 615px) {

    body {
        background: white;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 30px 0 30px;
    }

    .custom-left-container,
    .custom-right-container {
        aspect-ratio: unset;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .custom-image {
        max-width: 400px;
    }

}