<body (click)="onDocumentClick($event)">
    <div class="reservation-box" 
         [ngClass]="{'dropdown-open': showStatusDropdown}"
         (click)="this.toggleExpandedBox()">
        <div class="status-box-container subcontainer">
            <div class="status-box"
                [ngClass]="{
                    'green-background': reservation.status === 'active',
                    'grey-background': reservation.status == 'canceled',
                    'red-background': reservation.status == 'fulfilled',
                    'yellow-background': reservation.status == 'pending'
                }"
                (click)="toggleStatusDropdown($event)">
                <p *ngIf="!showStatusDropdown" class="status">{{ reservation.status }}</p>
                <div *ngIf="showStatusDropdown" 
                     class="custom-dropdown"
                     (click)="$event.stopPropagation()">
                    <div class="dropdown-option" 
                         *ngFor="let status of ['active', 'canceled', 'fulfilled', 'pending']"
                         (click)="updateReservationStatus(status)"
                         [class.selected]="status === reservation.status">
                        {{ status }}
                    </div>
                </div>
            </div>
        </div>
        <div class="name-container subcontainer">
            <p class="name">{{ reservation.name }}</p>
        </div>
        <div class="date-container subcontainer">
            <p class="dates">{{ displayDates() }}</p>
        </div>
        <div class="contact-container-price subcontainer">
            <p class="price">${{ reservation.price }}</p>
        </div>
        <div class="contact-container-email subcontainer">
            <p class="email">{{ reservation.email }}</p><br>
        </div>
        <div class="invoice-container updates-container subcontainer">
            <p class="updates-item"
            [ngClass]="{
                'late-highlighted': reservation.invoiceStatus == 'not sent' && isStatusLate(reservation.dates[0], SEND_INVOICE_DAYS)
                }">
                {{ reservation.invoiceStatus }}
            </p>
        </div>
        <div class="payment-container updates-container subcontainer">
            <p class="updates-item"
            [ngClass]="{
                'late-highlighted': reservation.paymentStatus == 'not received' && isStatusLate(reservation.dates[0], PAYMENT_DUE_DAYS)
                }">
                {{ reservation.paymentStatus }}
            </p>
        </div>
    </div>

    <div class="expanded-container" *ngIf="this.expandBox">
        <div class="main-expanded-content">
            <div class="customer-info-container">
                <h3 class="customer-info">Customer Info</h3>
                <p>Id: {{ reservation.reservationId }}</p>
                <p>Name: {{ reservation.name }}</p>
                <p>Phone: {{ reservation.phoneNumber }}</p>
                <p>email: {{ reservation.email }}</p>
            </div>
            <div class="notes-container">
                <h4>Customer Notes:</h4>
                <p>{{ reservation.customerNotes }}</p>
                <h4>My Notes:</h4>
                <p>{{ reservation.myNotes }}</p>
            </div>
            <div class="dates-container">
                <p><b>Send Invoice:</b> {{ displayDateFrom(reservation.dates[0], SEND_INVOICE_DAYS) }}</p>
                <p><b>Payment Due:</b> {{ displayDateFrom(reservation.dates[0], PAYMENT_DUE_DAYS) }}</p>
                <p><b>Pickup On: </b> {{ displayDate(reservation.dates[0]) }}</p>
                <p><b>Return On: </b> {{ displayDate(reservation.dates[reservation.dates.length-1]) }}</p>
            </div>
        </div>
        <div class="products-expanded-list">
            <!-- for each product, display photo, name, price, and qty -->
            <div *ngFor="let item of reservation.items; let i = index" 
                 class="item-box"
                 [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 === 1}">
                <img src="/images/item-image.png" alt="Item image" class="product-image">
                <p class="product-name item-info">{{ item.name }}<br><p class="item-id">{{ item.productId }}</p></p>
                <p class="product-price item-info">Price: ${{ item.price }}</p>
                <p class="product-quantity item-info">Quantity: {{ item.quantity || 1 }}</p>
                <p class="subtotal item-info">Subtotal: ${{ item.price * item.quantity || 20}}</p>
            </div>
            <div class="total-price" 
               [ngClass]="{'even-row': reservation.items.length % 2 === 0, 'odd-row': reservation.items.length % 2 === 1}">
               <button class="edit-button" (click)="openEditMode()">edit</button>
               <span class="total-price-text">Total Price: ${{ displayTotalPrice() }}</span>
            </div>
        </div>
    </div>
</body>

<!-- Edit Popup -->
<!-- <div *ngIf="editMode" class="edit-popup form-class">
    <div class="popup-content">
        <h2>Edit Reservation</h2>
        <div class="form-group">
            <label>Name:</label>
            <input [(ngModel)]="Reservation.name" type="text" />
        </div>
        <div class="prices-container">
            <div class="form-group">
                <label>Price:</label>
                <input [(ngModel)]="editableProduct.price" type="number" />
            </div>
            <div class="form-group">
                <label>Deposit:</label>
                <input [(ngModel)]="editableProduct.deposit" type="number" />
            </div>
            <div class="form-group">
                <label>Count:</label>
                <input [(ngModel)]="editableProduct.quantity" type="number" />
            </div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea [(ngModel)]="editableProduct.description"></textarea>
        </div>
        <div class="form-group">
            <label>Status:</label>
            <select [(ngModel)]="editableProduct.active">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
        <div class="form-group">
            <label>Tags (comma-separated):</label>
            <input [(ngModel)]="tagsInput" type="text" placeholder="e.g., signage, custom, rustic" />
        </div>
        <div class="form-group">
            <label>Material:</label>
            <input [(ngModel)]="editableProduct.material" type="text" />
        </div>
        <div class="form-group">
            <label>Image URL:</label>
            <input [(ngModel)]="editableProduct.imageUrl" type="text" />
        </div>
        <div class="form-group custom-checkbox-group">
            <label class="custom-checkbox-label">
                <input type="checkbox" [(ngModel)]="editableProduct.custom" name="isCustom" />
                <span class="custom-checkbox-box"></span>
                Custom Item
            </label>
        </div>
        <div class="edit-button-container">
            <button (click)="saveProduct()">Save</button>
            <button (click)="closeProductEditor()">Cancel</button>
            <button (click)="deleteProduct()">Delete</button>
        </div>
    </div>
</div> -->