<body (click)="onDocumentClick($event)">
    <div class="reservation-box" 
         [ngClass]="{'dropdown-open': showStatusDropdown || showInvoiceDropdown || showPaymentDropdown}"
         (click)="this.toggleExpandedBox()">
        <div class="status-box-container subcontainer">
            <div class="status-box"
                [ngClass]="{
                    'green-background': reservation.status === 'active',
                    'grey-background': reservation.status == 'canceled',
                    'red-background': reservation.status == 'fulfilled',
                    'yellow-background': reservation.status == 'pending'
                }"
                (click)="toggleStatusDropdown($event)">
                <p *ngIf="!showStatusDropdown" class="status">{{ reservation.status }}</p>
                <div *ngIf="showStatusDropdown" 
                     class="custom-dropdown"
                     (click)="$event.stopPropagation()">
                    <div class="dropdown-option" 
                         *ngFor="let status of ['active', 'canceled', 'fulfilled', 'pending']"
                         (click)="updateReservationStatus(status)"
                         [class.selected]="status === reservation.status">
                        {{ status }}
                    </div>
                </div>
            </div>
        </div>
        <div class="name-container subcontainer">
            <p class="name">{{ reservation.name }}</p>
        </div>
        <div class="date-container subcontainer">
            <p class="dates">{{ displayDates() }}</p>
        </div>
        <div class="contact-container-price subcontainer">
            <p class="price">${{ reservation.price }}</p>
        </div>
        <div class="contact-container-email subcontainer">
            <p class="email">{{ reservation.email }}</p><br>
        </div>
        <div class="invoice-container updates-container subcontainer">
            <div class="updates-item"
                [ngClass]="{
                    'late-highlighted': reservation.invoiceStatus == 'not sent' && isStatusLate(reservation.dates[0], SEND_INVOICE_DAYS)
                }"
                (click)="toggleInvoiceDropdown($event)">
                <p *ngIf="!showInvoiceDropdown">{{ reservation.invoiceStatus }}</p>
                <div *ngIf="showInvoiceDropdown" 
                     class="custom-dropdown"
                     (click)="$event.stopPropagation()">
                    <div class="dropdown-option" 
                         *ngFor="let status of ['not sent', 'sent']"
                         (click)="updateInvoiceStatus(status)"
                         [class.selected]="status === reservation.invoiceStatus">
                        {{ status }}
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-container updates-container subcontainer">
            <div class="updates-item"
                [ngClass]="{
                    'late-highlighted': reservation.paymentStatus == 'not paid' && isStatusLate(reservation.dates[0], PAYMENT_DUE_DAYS)
                }"
                (click)="togglePaymentDropdown($event)">
                <p *ngIf="!showPaymentDropdown">{{ reservation.paymentStatus }}</p>
                <div *ngIf="showPaymentDropdown" 
                     class="custom-dropdown"
                     (click)="$event.stopPropagation()">
                    <div class="dropdown-option" 
                         *ngFor="let status of ['not paid', 'paid']"
                         (click)="updatePaymentStatus(status)"
                         [class.selected]="status === reservation.paymentStatus">
                        {{ status }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="expanded-container" *ngIf="this.expandBox">
        <div class="main-expanded-content">
            <div class="customer-info-container">
                <h3 class="customer-info">Customer Info</h3>
                <p>Id: {{ reservation.reservationId }}</p>
                <p>Name: {{ reservation.name }}</p>
                <p>Phone: {{ reservation.phoneNumber }}</p>
                <p>email: {{ reservation.email }}</p>
            </div>
            <div class="notes-container">
                <h4 class="notes-title">Customer Notes:</h4>
                <p class="notes-content">{{ reservation.customerNotes }}</p>
                <h4 class="notes-title">My Notes:</h4>
                <p class="notes-content">{{ reservation.myNotes }}</p>
            </div>
            <div class="dates-container">
                <p><b>Send Invoice:</b> {{ displayDateFrom(reservation.dates[0], SEND_INVOICE_DAYS) }}</p>
                <p><b>Payment Due:</b> {{ displayDateFrom(reservation.dates[0], PAYMENT_DUE_DAYS) }}</p>
                <p><b>Pickup On: </b> {{ displayDate(reservation.dates[0]) }}</p>
                <p><b>Return On: </b> {{ displayDate(reservation.dates[reservation.dates.length-1]) }}</p>
            </div>
        </div>
        <div class="products-expanded-list">
            <!-- for each product, display photo, name, price, and qty -->
            <div *ngFor="let item of reservation.items; let i = index" 
                 class="item-box"
                 [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 === 1}">
                 <img [src]="item.imageUrl" alt="Item image" class="product-image">
                <!-- <img src="/images/item-image.png" alt="Item image" class="product-image"> -->
                <p class="product-name item-info">{{ item.name }}<br><p class="item-id">{{ item.productId }}</p></p>
                <p class="product-price item-info">Price: {{ item.price  | currency }}</p>
                <p class="product-quantity item-info">Quantity: {{ item.quantity || 1 }}</p>
                <p class="subtotal item-info">Subtotal: {{ item.price * (item.quantity || 1) | currency }}</p>
            </div>
            <div class="total-price" 
               [ngClass]="{'even-row': reservation.items.length % 2 === 0, 'odd-row': reservation.items.length % 2 === 1}">
               <button class="edit-button" (click)="openEditMode()">edit</button>
               <span class="total-price-text">Total Price: {{ reservation.price | currency }}</span>
            </div>
        </div>
    </div>
</body>

<!-- Edit Popup -->
<div *ngIf="editMode" class="edit-popup">
    <div class="popup-content">
        <h2>Edit Reservation</h2>
        
        <form class="edit-form">
            <div class="user-details-container">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="editableReservation.name" name="name" type="text" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="editableReservation.email" name="email" type="email" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Phone Number</mat-label>
                    <input matInput [(ngModel)]="editableReservation.phoneNumber" name="phone" type="tel" />
                </mat-form-field>
            </div>
            <div class="notes-container">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>My Notes</mat-label>
                    <textarea matInput [(ngModel)]="editableReservation.myNotes" name="myNotes" rows="3"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Customer Notes</mat-label>
                    <textarea matInput [(ngModel)]="editableReservation.customerNotes" name="customerNotes" rows="3"></textarea>
                </mat-form-field>
            </div>
            <div class="dates-price-container">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Dates:</mat-label>
                    <mat-date-range-input [formGroup]="datesForm" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="editableReservation.dates[0]" name="startDate" required>
                    <input matEndDate formControlName="end" placeholder="editableReservation.dates[editableReservation.dates.length - 1]" name="endDate" required>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>    
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Total Price:</mat-label>
                    <input matInput [(ngModel)]="editableReservation.price" name="totalPrice" type="number" />
                </mat-form-field>
            </div>

            <div class="reserved-products-container">
                <h3>Reserved Products:</h3>
                <div class="products-grid">
                    <!-- List All products that are currently reserved -->
                    <div *ngFor="let item of editableReservation.items" class="reserved-product-item">
                        <img [src]="item.imageUrl" alt="Item image" class="product-image">
                        <p class="product-name">{{ item.name }}<br><span class="item-id">{{ item.productId }}</span></p>
                        <!-- Reserved products should always be editable -->
                        <div class="item-price-remove-container">
                            <mat-form-field appearance="outline" class="item-price">
                                <mat-label>Price:</mat-label>
                                <input matInput [(ngModel)]="item.price" [name]="'reservedPrice_' + item.productId" type="number" />
                            </mat-form-field>
                            <button mat-raised-button color="warn"
                                (click)="removeProductFromReservation(item)"
                                class="remove-product-button">Remove</button>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="add-products-container">
                <h3 (click)="toggleAddProducts()" class="clickable-header">
                    Add Products:
                    <span class="toggle-icon">{{ showAddProducts ? '▼' : '▶' }}</span>
                </h3>
                <div *ngIf="showAddProducts" class="add-products-grid">
                    <div *ngFor="let product of allProducts" 
                         class="add-product-item"
                         [ngClass]="{'disabled': !isProductAvailable(product.productId)}">
                        <img [src]="product.imageUrl" alt="Item image" class="product-image">
                        <p class="product-name">{{ product.name }}<br><span class="item-id">{{ product.productId }}</span></p>
                        <mat-form-field appearance="outline" class="item-price">
                            <mat-label>Price:</mat-label>
                            <input matInput [(ngModel)]="product.price" [name]="'addPrice_' + product.productId" type="number" [disabled]="!isProductAvailable(product.productId)"/>
                        </mat-form-field>
                        <button mat-raised-button color="primary" 
                                (click)="addProductToReservation(product)"
                                [disabled]="!isProductAvailable(product.productId)">Add</button>
                    </div>
                </div>
            </div>
            
            <div class="edit-button-container">
                <button mat-raised-button color="primary" (click)="saveReservation()">Save</button>
                <button mat-stroked-button (click)="closeReservationEditor()">Cancel</button>
                <!-- <button mat-raised-button color="warn" (click)="deleteReservation()">Delete</button> -->
            </div>
        </form>
    </div> 
</div> 