<head>
    <Title>Customer Testimonials - Final Touch Decor</Title>
    <meta name="description" content="Read what our clients say about Final Touch Decor\'s luxury event rental services. Real reviews from satisfied customers who trusted us with their special events." />
</head>

<body class="white-background topDiv">
    <app-error-banner></app-error-banner>
    
    <section class="open-section">
        <div class="header-container tan-background">
            <div class="header-image-container">
                <img class="title" src="images/testimonials-title.png" alt="Testimonials Title">
            </div>
            <p class="side-text right-text" (click)="navigateToInspo()">See Inspo Photos</p>
        </div>
        <div class="reviews-container">
            <div *ngFor="let review of reviews" class="review">
                <p class="stars">
                    <span class ="yellow-font" *ngFor="let star of [].constructor(review.rating)">★</span>
                </p>
                <p class="review-text">{{ review.content }}</p>
                <div class="review-footer">
                    <p class="review-author green-font">{{ review.author }}</p>
                    <p class="review-date green-font">{{ review.date }}</p>
                    <p class="review-event-type green-font">{{ review.event }}</p>
                </div>
            </div>
        </div>
    </section>
</body>
