<body>
    <div class="container">
        <section class="custom-left-container">
            <p class="page-title">CUSTOM SIGNAGE</p>
            <p class="custom-text">
                Personalized signage is one of our favorite ways to add character to 
                your celebration. From welcome signs to seating charts, each piece is 
                handmade with care and designed by you—from the text to the layout. 
                Be sure to check the product description for customization details, 
                and let us help bring your vision to life with quality materials and 
                a personal touch.            
            </p>
            <button class="button-theme green-background">Shop Custom</button>
        </section>
        <section class="custom-right-container">
            <img class="custom-image" src="/images/custom-signage.jpg">
            <p class="footer cursive-font red-font">Made with Love</p>
        </section>
    </div>
</body>