<head>
    <title>Custom Signage | Final Touch Decor</title>
    <meta name="description" content="Learn about our customizable signage options for your event. Whether you're looking for a welcome sign, seating chart, or something unique, we've got you covered." />
</head>
<body>
    <div class="container">
        <section class="custom-left-container">
            <p class="page-title">CUSTOM SIGNAGE</p>
            <p class="custom-text">
                Personalized signage is one of our favorite ways to add character to 
                your celebration. From welcome signs to seating charts, each piece is 
                handmade with care and designed by you—from the text to the layout. 
                Be sure to check the product description for customization details, 
                and let us help bring your vision to life with quality materials and 
                a personal touch.            
            </p>
            <button class="button-theme green-background" (click)="goToCustomShop($event)">Browse Custom</button>
        </section>

        <picture class="custom-right-container">
          <source srcset="/images/custom.webp" type="image/webp">
          <img class="custom-image" src="/images/custom.png">
          <p class="cursive-font red-font handmade-tagline">Handmade with love</p>
        </picture>

    </div>
</body>