/* Wrapper to keep footer at the bottom if content is limited */

main {
    flex: 1; /* Allows main content to expand and push footer to the bottom */
}

footer {
    padding: 30px 50px 10px 50px;
    color: white;

}

.footer-container {
    display: flex;
    border-bottom: 1px solid white;
    justify-content: space-between;
}

.left-container {
    font-size: 0.9rem;
    display: flex;
}

.links-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5px;
    padding: 0 30px 30px 0;
}

.links-container p {
    padding-bottom: 15px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.icons {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.logo {
    width: 40px;
}

.bottom-section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.title-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0% 5% 0% 0%;
    bottom: 0px;
}

.title {
    font-size: 2.75rem;
    text-align: right;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-size: 1.25rem;
    text-align: right;
    margin: -10px 25px 0 0;
    padding: 0;
}

button {
    opacity: 0.5; 
}


@media (max-width: 700px) {

    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .right-container {
        width: 100%;
        flex-direction: row;
    }
    

}

@media (max-width: 550px) {

    footer {
        padding: 30px 20px 10px 20px;

    }
    .logo {
        width: 25px;
    }

    .title {
        font-size: 1.75rem;
    }
    
    .subtitle {
        font-size: 1rem;
        margin: 0px 25px 0 0;

    }

    .bottom-section p {
        font-size: 0.8rem;
    }

    .right-container {
        align-items: center;
    }
}