<footer class="red-background">
    <div class="footer-container">
        <div class="left-container">
            <div class="links-container">
                <p>COMPANY</p>
                <a class="link" (click)="routeTo('/home', $event)">Home</a>
                <a class="link" (click)="routeToSection('/home', 'howItWorks')">How it Works</a>
                <a class="link" (click)="routeToSection('/home', 'about')">About Us</a>
                <a class="link" (click)="routeTo('/privacy-policy', $event)">Privacy Policy</a>
            </div>
            <div class="links-container">
                <p>SHOP</p>
                <a class="link" (click)="routeTo('/shop', $event)">Shop All</a>
                <a class="link" (click)="routeToCustomShop($event)">Custom</a>
                <a class="link" (click)="routeToWithFilter('Signage', $event)">Signage</a>
                <a class="link" (click)="routeToWithFilter('Lighting', $event)">Lighting</a>
                <a class="link" (click)="routeToWithFilter('Fabrics', $event)">Fabrics</a>
            </div>
            <div class="links-container">
                <p>RESOURCES</p>
                <a class="link" (click)="routeTo('/faqs', $event)">FAQs</a>
                <a class="link" (click)="routeTo('/testimonials', $event)">Testimonials</a>
                <a class="link" (click)="routeTo('/inspo', $event)">Inspo</a>
                <a class="link" (click)="routeToReview()">Leave a Review</a>
                <a class="link" (click)="routeToEmail()">Contact Us</a>
            </div>
        </div>
        <div class="right-container">
            <div class="title-container">
                <p class="title">Final Touch Decor Co.</p>
                <p class="subtitle">custom event rentals</p>
            </div>
            <div class="icons">
                <img class="logo" src="/images/instagram.png" alt="instagram icon" (click)="routeToInstagram()">
                <img class="logo" src="/images/email.png" alt="email icon" (click)="routeToEmail()">
                <img class="logo" src="/images/facebook.png" alt="facebook icon" (click)="routeToFacebook()">
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <p>Boise, Idaho</p>
        <p>&copy; 2025 Final Touch Decor Co. All Rights Reserved.</p>
    </div>
</footer>